 <div class="jumbotron">
 　 <h1>ようこそ、ながのCAKEへ！</h1>
   <p>このサイトは、ケーキ販売のECサイトになります。</p>
   <p>会員でない方も商品の閲覧はできますが、</p>
   <p>購入には会員登録が必要になります。</p>
 </div>

 <div class="jumbotron">
  <div class="row">
   <table class="col-mt-3">
    <h3>新着商品</h3>
  　<% @items.each do |item| %>
      <%if item.is_active== true %>
        <td><%= image_tag item.get_item_image(200,200) %></td>
        <td><%= link_to item.name,item_path(item.id) %></td>
        <td>￥<%= item.price.to_s(:delimited) %></td>
      <% end %>
    <% end %>
   </table>
  </div>

    <div class= "row">
      <div class="mx-auto">
  	    <%= link_to '商品一覧', items_path %>
      </div>
    </div>

