 <div class="jumbotron background">
   <div = "container">
     <h2>ようこそながのCAKEへ！</h2>
     <p>このサイトは、ケーキ販売のECサイトになります。</p>
     <p>会員でない方も商品の閲覧はできますが、</p>
     <p>購入には会員登録が必要になります。</p>
   </div>

     <h3>新着商品</h3>
     <div class="row">
          <% @items.each do |item| %>
          <div class="card card-div">
           <%if item.is_active== true %>
              <%= image_tag item.item_image, class:"card-image" %>
              <div class="card-body">
              <p><%= link_to item.name,item_path(item.id) %></p>
              <p>￥<%= item.price.to_s(:delimited) %></p>
              </div>
           <% end %>
          </div>
          <% end %>
      </div>
    </div>

      <div class= "row">
        <div class="mx-auto">
    	    <%= link_to '全ての商品を見る＞', items_path %>
        </div>
      </div>
</div>

