<h2>注文履歴詳細</h2>

<div>
  <h3>注文情報</h3>
  <table>
    <tr>
      <th>注文日</th>
      <td>例:2022/12/12</td>
    </tr>
    <tr>
      <th>配達先</th>
      <td>例:南緯47度9分西経126度43分太平洋の海底ルルイエ</td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td>例:銀行振込</td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td>例:入金確認</td>
    </tr>
  </table>
</div>

<div>
  <h3>請求情報</h3>
  <table>
    <tr>
      <th>商品合計</th>
      <td>例:1,500</td>
    </tr>
    <tr>
      <th>配送料</th>
      <td>例:800</td>
    </tr>
    <tr>
      <th>ご請求額</th>
      <td>例:2,300</td>
    </tr>
  </table>
</div>

<div>
  <h3>注文内容</h3>
</div>